<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<link rel="stylesheet" href="http://len.iem.pw.edu.pl/~jereczem/CW4/templates/style.css"/>

<div class="menu">
<div class="newmail">
    <a href="javascript:window.open('http://len.iem.pw.edu.pl/~jereczem/apps/CW4/newmail/','Nowa wiadomość','width=500,height=300')">Nowa
        wiadomość</a>
</div>

<div class="logout">
    <form method="post" action="http://len.iem.pw.edu.pl/~jereczem/apps/CW4/logout/">
        <input type="submit" value="wyloguj się">
    </form>
</div>
</div>
<div class="blank"></div>

<h2>Maile</h2>

<div id="emailList">
</div>

<script type=text/javascript src="http://len.iem.pw.edu.pl/~jereczem/CW4/jquery.js"></script>
<script type=text/javascript src="http://len.iem.pw.edu.pl/~jereczem/CW4/js.js"></script>

</body>
</html>