<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<link rel="stylesheet" href="http://len.iem.pw.edu.pl/~jereczem/CW4/templates/style.css"/>

<form method="post" action="http://len.iem.pw.edu.pl/~jereczem/apps/CW4/sendmail/">
    <div class="newmail2">
        <div class="label">
    <label for="receiver">Odbiorca:</label>
    <input type="text" name="receiver"/><br/></div>
        <div class="label">
    <label for="title">Tytuł:</label>
    <input type="text" name="title"/><br/></div>
            <div class="label">
    <label for="content">Treść:</label>
    <input type="text" name="content"/><br/></div>
                <div class="label">
    <input type="submit"/></h3></div>
    </div>
</form>
</body>
</html>